
*.dll
*.pdb
*.zip
*.cd
*.vcxproj.user

/.vs
/.vscode
vc2022/.vs/
vc2022/bin/
vc2022/build/
vc2022/lib/
vc2022/packages/

vc2022/dnn_model_2_0.onnx
vc2022/dnn_model_2_0_lite_op11.onnx
vc2022/dnn_model_2_0_op11.onnx

assets/settings.json
assets/recentProcessing.json
assets/recentRoom.json
assets/displaying.json
assets/recentNetwork.json
assets/imgui.ini
assets/dmx/ofl_export_ofl/

recordings/
./design/
logs/

3rd/OpenCV4/etc/
3rd/OpenCV4/lib/
3rd/OpenCV4/include/opencv2/
3rd/cppzmq/examples/
3rd/cppzmq/demo/
3rd/cppzmq/tests/
3rd/libzmq/.github/
3rd/libzmq/build_qnx/
3rd/libzmq/builds/
3rd/libzmq/doc/
3rd/libzmq/external/
3rd/libzmq/m4/
3rd/libzmq/packaging/
3rd/libzmq/perf/
3rd/libzmq/tests/
3rd/libzmq/tools/
3rd/Cinder-PortAudio/lib/ASIOSDK/
assets/3rd/depth-anything/depth_anything_v2_vitb_dynamic.onnx
assets/3rd/depth-anything/depth_anything_v2_vits_dynamic.onnx
3rd/imnodes/example/
3rd/ImPlot/example/
*.aps
vc2022/enc_temp_folder/
assets/recentLLM.json
